{{ > head}}

 {{> carousel}}


<body>
 
    <div class="container py-5">
    <div class="row">
        <div class="col-md-6 col-sm-12"">
            <div class="p-3 bg-white text-center">
                <div><img src="https://i.imgur.com/yFeV2ed.png">
                    <h1>Rider in hub</h1>
                </div>
				{{#ridersInHub}}
				<form action="/" Method="POST">
                <div class="d-flex flex-row justify-content-between align-items-center py-2">
				<input type="hidden" name="id" value="{{userId}}" />	
                    <div class="d-flex flex-row align-items-center"><img class="rounded-circle" src="{{imagePath}}" width="55">
                        <div class="d-flex flex-column align-items-start ml-2">
							<span class="font-weight-bold">{{nickName}}</span>
							<span class="followers"> Bike 1450 </span>
						</div>
                    </div>
                    <div class="d-flex flex-row align-items-center mt-2"><button class="btn btn-outline-primary btn-sm" type="submit">Go</button></div>
                </div>
                </form>
				{{/ridersInHub}}
 
            </div>
        </div>
        
        
                <div class="col-md-6 col-sm-12">
            <div class="p-3 bg-white text-center">
                <div><img src="https://i.imgur.com/yFeV2ed.png">
                    <h1>Rider on road</h1>
                </div>
 				
 				{{#ridersOnReaod}}
 				<form action="/return" Method="POST">
                <div class="d-flex flex-row justify-content-between align-items-center py-2">
				<input type="hidden" name="id" value="{{userId}}" />	
                    <div class="d-flex flex-row align-items-center"><img class="rounded-circle" src="{{imagePath}}" width="55">
                        <div class="d-flex flex-column align-items-start ml-2">
							<span class="font-weight-bold">{{nickName}}</span>
							<span class="followers"> Bike 1450 </span>
						</div>
                    </div>
                    <div class="d-flex flex-row align-items-center mt-2"><button class="btn btn-outline-primary btn-sm" type="submit">Back to hub</button></div>
                </div>
                </form>
				{{/ridersOnReaod}}
 
            </div>
        </div>
        
    </div>
</div>
   
   {{ > footer}}
</body>
</html>